name: Documentation

env:
  GITHUB_CI: true

on:
  # For manual run
  workflow_dispatch:
  push:
    tags:
      - 'v*'
  schedule:
    - cron:  '0 4 * * 0'  # Run every Sunday
concurrency:
  # Skip intermediate builds: always.
  # Keep only one build for each PR and other event.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    permissions:
      contents: write
      statuses: write
    name: Documentation
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1'
      - uses: julia-actions/cache@v1
        with:
          cache-name: 'docs'
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
